body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 240, 230);
  width: 100vw;
  height: 100vh;
}

.heart {
  background-color: var(--c);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.heart:before,
.heart::after {
  content: '';
  background-color: var(--c);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart::after {
  left: 15px;
  top: 0;
}